@import "Variables.scss";

// Start Footer
// ============

$footerContainer: selector-unify("div", ".footer-container");
#{$footerContainer} {
  height: 70vh;
  background: $FooterContainer;
}

$footerContainerContent: selector-nest(".footer-container", ".footer-container-content");
#{$footerContainerContent} {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 74%;
    height: 65vh;
    padding: 1rem .5rem;
    margin: auto;
}

$div-title-footer: selector-unify("div", ".div-title-footer");
#{$div-title-footer} {
   max-width: 200px;
   line-height: 40px;
}

$title-footer: selector-unify("h3", ".title-footer");
#{$title-footer} {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    color: $Paraground;
    text-transform: uppercase;
}

$div-para: selector-unify("div", ".div-para");
#{$div-para} {
    display: flex;
    width: 30%;
    height: 30vh;
    border-left: 1px solid $Fontground;
    border-right: 1px solid $Fontground;
}

$para-footer: selector-unify("p", ".para-footer");
#{$para-footer} {
    font-size: 1.8rem;
    color: $Paraground;
    padding: 0 2rem;
    margin: auto;  
}

$social-icons-footer: selector-nest(".social-icons-footer", ".footer-icon");
#{$social-icons-footer} {
    font-size: 2.5rem;
    color: $Paraground;
    padding-left: 1rem;

    // Responsive
    @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}

$social-icons-footer-hover: selector-nest(".social-icons-footer", ".footer-icon", "&:hover");
#{$social-icons-footer-hover} {
    color: $Fontground;
}

.nav-footer {
    margin-left: 2rem;
    .list-footer {
        list-style: none;
        padding: 0 0 0.5rem 0;
        a {
            font-size: 2rem;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            color: $Paraground;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.nav-footer .list-footer a:hover {
    color: $Fontground;
}

// copy-right

$copyRight: selector-unify("div", ".copy-right");
#{$copyRight} {
    width: 100%;
    height: 21vh;
    background: lighten($Fontground, 10%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    // Responsive 
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

$para-copy: selector-unify("p", ".para-copy");
#{$para-copy} {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: $Paraground;
    line-height: 24px;
    width: 350px;  

    // Responsive 
    @media screen and (max-width: 900px) {  
       font-size: 1rem;
    }
}

@mixin paragraphy-copys {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: $Paraground;
    line-height: 24px;
    width: 25%; 
}

$theme: selector-unify("a", ".theme");
#{$theme} {
    @include paragraphy-copys;
    text-decoration: none;

     // Responsive 
     @media screen and (max-width: 900px) {  
        font-size: 1rem;
     }
}

$theme-hover: selector-nest(".theme", "&:hover");
#{$theme-hover} {
    color: $Background;
}


@mixin fonts {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

$term: selector-unify("p", ".term");
#{$term} {
  @include fonts;

    // Responsive
    @media screen and (max-width: 900px) {
        // padding-bottom: .5rem;
    }
}

$img-footer: selector-unify("img", ".img-footer");
#{$img-footer} {
    width: 100px;
}

$term-1: selector-unify("a", ".term-1");
#{$term-1} {
    color: $Paraground;
    text-decoration: none;
    padding-right: 1.3rem;
}

$term-1: selector-nest(".term-1", "&:hover");
#{$term-1} {
    color: $Background;
}

$term-2: selector-unify("a", ".term-2");
#{$term-2} {
    color: $Paraground;
    text-decoration: none;
    padding-right: 1.3rem;
}

$term-2: selector-nest(".term-2", "&:hover");
#{$term-2} {
    color: $Background;
}

// Ends Footer
// ============