@import "Variables.scss";

* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: $Background;
}

// Start Header
// ===========

// Ends Header
// ==========

// Start Main
// ==========

$subHeader: selector-unify("span", ".sub-title");
#{$subHeader} {
    font-size: 1.5rem;
    color: $Paraground;
    text-align: center;
    display: block;
    padding: 1rem 0 0 0;
    margin: 6rem 0 0 0;  
}

$titleMain: selector-unify("h1", ".title-main");
#{$titleMain} {
    font-size: 3rem;
    color: $Paraground;
    text-align: center;
}

// Start Cards
// ===========

@import "Cards.scss";

// Ends Cards
// ===========

// Start Owners
// ============

@import "Owners.scss";

// Ends Owners
// ============

// Start Wood
// ==========

@import "Wood.scss";

// Ends Wood
// ==========

// Start Blog
// ==========

@import "Blog.scss";

// Ends Blog
// =========

// Start Footer
// ============

@import "Footer.scss";

// Ends Footer
// ============

@keyframes animate {
    0%, 100% {
        background-image: url("/scss/img/furniture-6.jpg");
        background-size: cover;
        height: 70vh;
    }

    50% {
        background-image: url("/scss/img/furniture-8.jpg");   
    }

    75% {
        background-image: url("/scss/img/furniture-9.jpg");   
    }
}
