* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: white;
}

// Start Variables
// ==============

@import "Variables.scss";

// Ends Variables
// ==============

header {
    background-color: $Background;
    width: 100%;
    height: 70vh;
    position: relative;
}

.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animate 30s ease-in-out infinite;
    z-index: 1;
  }

// i used nasting SCSS
// ===================

nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 12px;

        li {
            list-style-type: none;
            padding: 1.2rem 0;
            
            a {
              font-size: 2.3rem;
              font-family: "Poppins", sans-serif;
              letter-spacing: 3px;
              font-weight: bold;
              color: blue;
              text-decoration: none;
              text-transform: uppercase;
            }
        }
    }
}

.content-header {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-header {
    font: {
        size: 2.3rem;
    }
    color: white;
}

.para-header {
    font: {
        size: 2rem;
        weight: bolder;
    }
    color: #FFC100;
    width: 650px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.btn {
    font: {
        size: 1.8rem;
        weight: bold;
    }
    text-transform: capitalize;
    color: white;
    background-color: orange;
    padding: .3rem .4rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 2px solid red;
}

$btnHover: selector-nest(".btn", "&:hover");
#{$btnHover} {
    background-color: white;
    color: #FFAF00;
}
// Ends Header
// ==========

// Start Main
// ==========

$subHeader: selector-unify("span", ".sub-title");
#{$subHeader} {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    display: block;
    padding: 1rem 0 0 0;
    margin: 6rem 0 0 0;  
}

$titleMain: selector-unify("h1", ".title-main");
#{$titleMain} {
    font-size: 3rem;
    color: white;
    text-align: center;
}

// Start Cards
// ===========

@import "Cards.scss";

// Ends Cards
// ===========

// Start Owners
// ============

@import "Owners.scss";

// Ends Owners
// ============

// Start Wood
// ==========

.wood {
    width: 100%;
    height: 100vh;
    background-image: url("/scss/img/wood-3.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
    margin: 10rem 0 0 0;
}

.content-wood {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-content-wood {
    background: #FFAF00;
    padding: 1rem;
    opacity: 0.7;
    width: 98.2%;
}

.sub-title-wood {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.title-wood {
    font-size: 5rem;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.para-wood {
    font-size: 2.6rem;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}
// Ends Wood
// ==========

// Start Blog
// ==========

.blog {
    margin: 8rem 0;
}

.sub-title-blog {
    @extend .sub-title;
    font-family: "Poppins", sans-serif;
}

.title-blog {
    @extend .title-main;
    font-family: "Poppins", sans-serif;
}

hr {
    width: 4%;
    margin: 0 auto;
    border: 3px solid #FFAF00;
}

.sub-para-blog {
    @extend .sub-title-blog;
}

// Ends Blog
// =========

// Start Footer
// ============

.footer-container {
  height: 70vh;
  background: #1E201E
}

.footer-container-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 74%;
    height: 65vh;
    padding: 1rem .5rem;
    margin: auto;
}

.div-title-footer {
   max-width: 14%;
   line-height: 40px;
}

.title-footer {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: uppercase;
}

.div-para {
    display: flex;
    width: 30%;
    height: 30vh;
     border-left: 1px solid #FFAF00;
    border-right: 1px solid #FFAF00;
}

.para-footer {
    font-size: 1.8rem;
    color: white;
    padding: 0 2rem;
    margin: auto;
}

.social-icons-footer .footer-icon {
    font-size: 2.5rem;
    color: white;
    padding-left: 1rem;
}

.social-icons-footer .footer-icon:hover {
    color: #FFAF00;
}

.nav-footer {
    margin-left: 2rem;
    .list-footer {
        list-style: none;
        padding: 0 0 0.5rem 0;
        a {
            font-size: 2rem;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

.nav-footer .list-footer a:hover {
    color: #FFAF00;
}

// copy-right

.copy-right {
    width: 100%;
    height: 21vh;
    background: lighten(#FFAF00, 10%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.para-copy {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: white;
    line-height: 24px;
    width: 25%;
}

.theme {
    @extend .para-copy;
    text-decoration: none;
}

.term {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
}

.term-1 {
    color: white;
    text-decoration: none;
    padding-right: 1.3rem;
}

.term-2 {
    @extend .term-1
}

.theme:hover {
    color: #0C0C0C;
}

.term-1:hover {
    @extend .theme;
}

.img-footer {
    width: 8%;
}


@keyframes animate {
    0%, 100% {
        background-image: url("/scss/img/furniture-6.jpg");
        background-size: cover;
        height: 70vh;
    }

    50% {
        background-image: url("/scss/img/furniture-8.jpg");   
    }

    75% {
        background-image: url("/scss/img/furniture-9.jpg");   
    }
}
