* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #0C0C0C;
}

.container {
    background: #603F26;
    width: 100%;
    height: 70vh;
    position: absolute;
    left: 0;
}
