/* cards */
/* 
.wrap-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
  margin: 6rem 1rem 1rem 1rem;
  padding: 1rem;
  max-width: 420px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px gray;
  transition: all .4s ease-in-out;
}

.card:hover {
    background-color: white;
}

.img {
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.card-header {
    color:  white;
}

.description {
    font-size: 1.7rem;
    text-transform: capitalize;
    text-align: center;
    display: block;
    padding: .5rem 0 0 0;
}

.card:hover .description {
    color: $Nav;
}

.title-card {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    padding: 0 0 0.5rem 0;
}

.card:hover .title-card {
    color: $Nav;
}

.rate {
    font-size: 3rem;
    display: block;
    text-align: center;
    background-color: #0C0C0C;
    border-radius: 50px;
    padding: 0.5rem .2rem;
}

*/


/* Start owner */
/* 
.sub-title-owner {
  @extend .sub-title;
  margin: 4rem 0 0 0;
}

.title-main-owner {
    font-size: 3rem;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.img-owner {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    display: inline-block;
    padding: 0 0 1.5rem 0;
    margin: 2rem 0 0 2rem;
} 
    
.img-owner:hover {
 opacity: 0.7;
}

.title-owner {
    font-size: 1.5rem;
    color: white;
}

.name-owner {
    font-size: 2rem;
    color: white;
}

.description-owner {
   @extend .title-owner;
   padding: 0 0 1rem 0;
}

i {
    font-size: 1.5rem;
    color: #FFAF00;
    padding: 0 .5rem;
}
*/
/* Ends owner */

/* blog */
/* ====== */
/* 

.blog {
    margin: 8rem 0;
}

.sub-title-blog {
    @extend .sub-title;
    font-family: "Poppins", sans-serif;
}

.title-blog {
    @extend .title-main;
    font-family: "Poppins", sans-serif;
}

hr {
    width: 4%;
    margin: 0 auto;
    border: 3px solid $Fontground;
}

.sub-para-blog {
    @extend .sub-title-blog;
}

*/

/* wood */
/* ======= */
/* 

.wood {
    width: 100%;
    height: 100vh;
    background-image: url("/scss/img/wood-3.jpg");
    background-repeat: no-repeat;
    opacity: 0.9;
    margin: 10rem 0 0 0;
}

.content-wood {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-content-wood {
    background: $Fontground;
    padding: 1rem;
    opacity: 0.7;
    width: 98.2%;
}

.sub-title-wood {
    font-size: 2rem;
    font-weight: bolder;
    color: $Paraground;
    text-align: center;
}

.title-wood {
    font-size: 5rem;
    font-weight: bolder;
    color: $Paraground;
    text-align: center;
}






*/